
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Administrator/_layout.cshtml";
}
@model IEnumerable<WildcatMicroFund.Data.Models.User>

<p>Here is a list of all the users</p>

<html>
<head>
    <style>
        table {
            font-family: Arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <h2>User Lookup</h2>

    <table>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.UserRoles)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>Edit User</th>
        </tr>
        <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserRoles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
    </tr>
}
        </tbody>
    </table>
</body>
</html>


